<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFM Web</title>
    <link rel="icon" href="/static/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/static/css/cfm.css" />

    {% block style %}{% endblock %}
</head>

<body>

    <div class="container">
        <div class="top-banner">
            <div class="logo-container">
                <a href="https://cascadiaquakes.org/" target="_blank" style="text-decoration: none;">
                    <img src="/static/images/CrescentLogosHorizontalWhite.png" alt="Logo" width="150px">
                </a>
                <a href="https://cascadiaquakes.org/cfm/" target="_blank" style="text-decoration: none;">
                    <div class="working-group-name">&nbsp;&nbsp;Community Fault Model (CFM)</div>
                </a>
            </div>
            <nav class="navbar">
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Visualization<span class="chevron">&#9660;</span></a>
                        <ul class="dropdown">
                            <li><a href="/">Repository</a></li>
                            <li><a href="/3d" target=" 3Dviewer">3D Viewer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Data<span class="chevron">&#9660;</span></a>
                        <ul class="dropdown">
                            <li><a href="/downloads">Download Models</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">More<span class="chevron">&#9660;</span></a>
                        <ul class="dropdown">
                            <li><a href="/news">CFM-Web News</a></li>
                            <li><a href="/request">Contact US</a></li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">About<span class="chevron">&#9660;</span></a>
                                <ul class="dropdown">
                                    <li><a href="https://cascadiaquakes.org/about-crescent/"
                                            target="_blank">CRESCENT</a></li>
                                    <li><a href="https://cascadiaquakes.org/cfm/" target="_blank">CFM</a></li>
                                    <li><a href="https://cascadiaquakes.org/cvm/" target="_blank">CVM</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/guide" class="nav-link">Guide<span class="chevron">&#9660;</span></a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="description">
            {% block description %}{% endblock %}
        </div>
        <div class="filter">
            {% block filter %}{% endblock %}
        </div>
        <div class="left-right">
            {% block leftpanel%}{% endblock %} {% block rightpanel%}{% endblock %} </div>
        <div class="footer">
            <!-- Footer content -->
        </div>
        {% block scripts %}{% endblock %}
    </div>

</body>

</html>