{% extends 'cfm_page.html' %}

{% block style%}
<link rel="stylesheet" href="/static/css/main.css" />
<style>
    .description {
        background-color: #fff;
        padding: 10px 20px;
    }
</style>
{%endblock%}
{% block description%}
<h2>CFM File Downloads</h2>
<p>
    Below you can access CFM
    geospatial data for fault traces in both 2D and 3D formats.
</p>

<h3>GeoJSON Files</h3>
<ul>
    <li style="width:40%"><a
            href="https://raw.githubusercontent.com/cascadiaquakes/crescent-cfm/main/crescent_cfm_files/crescent_cfm_crustal_traces.geojson">CRESCENT
            Cascadia 2D Crustal Fault traces (GeoJSON)</a></li>
    <li style="width:40%"><a
            href="https://raw.githubusercontent.com/cascadiaquakes/crescent-cfm/main/crescent_cfm_files/crescent_cfm_crustal_3d.geojson">CRESCENT
            Cascadia 3D Crustal Fault Surfaces (GeoJSON)</a></li>
</ul>
<p>Coming soon, we will have .tsurf files available for 3D geometries.</p>

<h3>Metadata</h3>
<p>
    The CFM metadata table contains detailed fault attributes, references, and source information for all faults in the model:
</p>
<ul>
    <li style="width:40%"><a
            href="https://raw.githubusercontent.com/cascadiaquakes/CRESCENT-CFM/main/misc_data/metadata/cfm_metadata.csv"
            download>CFM Metadata Table (CSV)</a></li>
</ul>

{%endblock%}